[project]
	description = muCommander fork
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xmo (xmo)
[access "refs/for/refs/*"]
	read = group user/xmo (xmo)
	push = group user/xmo (xmo)
	label-Code-Review = -2..+2 group user/xmo (xmo)
	label-Verified = -1..+1 group user/xmo (xmo)
	rebase = group user/xmo (xmo)
	removeReviewer = group user/xmo (xmo)
	submit = group user/xmo (xmo)
[access "refs/heads/*"]
	read = group user/xmo (xmo)
	create = group user/xmo (xmo)
	push = +force group user/xmo (xmo)
	pushMerge = group user/xmo (xmo)
[access "refs/tags/*"]
	push = +force group user/xmo (xmo)
	pushTag = group user/xmo (xmo)
	pushSignedTag = group user/xmo (xmo)
